/* admin.css */

.is-invalid {
    border: 2px solid red;
    position: relative;
}

.is-invalid:after {
    content: "¡Debe seleccionar un proyecto!";
    position: absolute;
    top: -20px;
    left: 0;
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
}
